<p>Hi <%= @resource.email %>!</p>

<p>Warning!!!. People wan to login on your account through different deevice, confirm through the email below</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Not you who want to login? Cancel the request here.</p>
<p>Please, be safe!!! your account is protected, you can access it through the link above!!!</p>